/StatAsleep.class
/StatBless.class
/StatBlind.class
/StatChant.class
/StatCurse.class
/StatDead.class
/StatHasted.class
/StatPoisoned.class
/StatPrayer.class
/StatSilence.class
/StatSlowed.class
/StatStunned.class
/StatUnconscious.class
/StatusItem.class
